* {
    margin: 0; /* DEFINIR ESPAÇAMENTO ZERO PARA A PÁGINA TODA */
    padding: 0; /* DEFINIR PREENCHIMENTO ZERO PARA A PÁGINA TODA */
    box-sizing: border-box;   
    list-style: none; /* TIRAR ESTILO DA LISTA <ul> */
}

header{
    background-color: #3D150E;
    margin: auto;
    margin-top: 20px;
    max-width: 300px;
    border-radius: 50px;
}

body{
    background-color: #682B16;
}  

body *{
    font-family: "irish Grover", serif;
}

#nomedapagina{
    font-size: 25px;
    color: #fff;
    text-align: center;
}

/* PISIÇÃO DA CAIXA QUE GUARDA OS NOMES DOS POEMAS */
.container{
    /* background-color: aqua; */
    /* MUDA A VISUALIZAÇÃO DO CONTAINER */
    display: flex;
    /* DIREÇÃO DA MUDANÇA DE VISUALIZAÇÃO. COLUNAS, NO CASO. */
    flex-direction: column;
    width: 25%;
    /* DÁ ESPAÇO NO INÍCIO E NO FIM DO CONTAINER */
    justify-content: space-between;
    /* MUDAR POSIÇÃO DOS ELEMENTOS DA LISTA */
    align-items: left;
    margin: 1em;
}

/* ESTILO DOS NOMES DOS POEMAS */
.nomepoema{
    /* background-color: red; */
    
    font-size: 25px;
    color: #fff;
    margin: 5px;
   
}

#botaovoltar{
    color: #fff;
    font-size: large;

    position: absolute;
    right: 0;
    bottom: 0;

    margin: 1em;
}

