* {
    margin: 0; /* DEFINIR ESPAÇAMENTO ZERO PARA A PÁGINA TODA */
    padding: 0; /* DEFINIR PREENCHIMENTO ZERO PARA A PÁGINA TODA */
    box-sizing: border-box;   
    list-style: none; /* TIRAR ESTILO DA LISTA <ul> */
}

/* CRIAR BARRA DO CABEÇALHO */
header{
    background-color: #3D150E;
    background-size: 100% 100px;
    height: 100px;
}

/* MODIFICAR IMAGEM DO CABEÇALHO */
#logo{
    padding-top: 10px;
    width: 250px;
}

/* ORGANIZAR OS ÍCONES DAS REDES SOCIAIS */
header ul{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}

/* AJUSTAR ESPAÇAMENTO E LARGURA DOS ÍCONES DAS REDES SOCIAIS */
.redessociais{
    padding-top: 10px;
    width: 80px;
}

/* DEFINIR BACKGROUND DO SITE */
body {
    background-image:url(./assets/background1-1200px.jpg);
    background-position: top center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #682B16;
    overflow-x: hidden; /* ESCONDER BARRA DE ROLAGEM VERTICAL */
    
}

/* FONTE DE TODOS OS TEXTOS DO BODY */
body *{
    font-family: "irish Grover", serif;
}

/* AJUSTAR TAMANHO E POSICIONAMENTO DOS MENUS DA PÁGINA INICIAL. "menubox" É RESPONSÁVEL POR GUARDAR OS MENUS */
.menubox{
    /* background-color: rgb(158, 158, 158); */
    width: 100%;
    display: flex;
    padding-top: 250px;
    
}

/* AJUSTAR LARGURA DAS IMAGENS DOS MENUS */
.imagemmenu{
    width: 60%;
}

/* CENTRALIZAR OS ITENS DOS MENUS */
.menu{
    /* border: 1px solid white; */
    text-align: center;
    margin: auto;
}

/* MODIFICAR OS NOMES DOS MENUS */
.nomemenu{
    /* border: 1px solid white; */
    font-size: 48px;
    font-weight: 400;
    color: #fff;   
    margin-bottom: 50px;
}


/* id's PARA AJUSTES EM ELEMENTOS ESPECÍFICOS */
#nomemenupoemas{
    margin-bottom: 83px;
}

#nomemenuinspiracoes{
    margin-top: 5px;
}

#imagemmenuinspiracoes{
    height: 160px;
}
