* {
    margin: 0; /* DEFINIR ESPAÇAMENTO ZERO PARA A PÁGINA TODA */
    padding: 0; /* DEFINIR PREENCHIMENTO ZERO PARA A PÁGINA TODA */
    box-sizing: border-box;   
    list-style: none; /* TIRAR ESTILO DA LISTA <ul> */
    text-decoration: none;
}

/* CRIAR BARRA DO CABEÇALHO */
#cabecalho{
    background-color: #3D150E;
    
    height: 90px;
    width: 100%;
}

/* MODIFICAR IMAGEM DO CABEÇALHO */
#logo{
    margin: 1em auto;
    max-width: 175px;
    transition: transform .3s;
}

#logo:hover{
    transform: scale(1.1);
}

/* ORGANIZAR OS ÍCONES DAS REDES SOCIAIS */
header ul{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}

/* AJUSTAR ESPAÇAMENTO E LARGURA DOS ÍCONES DAS REDES SOCIAIS */
.redessociais{
    margin: 1em auto;
    max-width: 70px;
    transition: transform .3s;
}

.redessociais:hover{
    transform: scale(1.1);
}

/* DEFINIR BACKGROUND DO SITE */
body {
     
    background: #682B16;
    object-fit: cover;
    overflow-x: hidden; /* ESCONDER BARRA DE ROLAGEM VERTICAL */
    
}

/* FONTE DE TODOS OS TEXTOS DO BODY */
body *{
    font-family: "irish Grover", serif;
}


/* AJUSTAR TAMANHO E POSICIONAMENTO DOS MENUS DA PÁGINA INICIAL. "menubox" É RESPONSÁVEL POR GUARDAR OS MENUS */
.menubox{
    /* background-color: rgb(158, 158, 158); */
    
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin: 10em auto;
    
}       


/* AJUSTAR LARGURA DAS IMAGENS DOS MENUS */
.imagemmenu{
    
    width: auto;
    height: 100px;
}  

section div a img{
    transition: transform .3s;
}

section div a img:hover {
    transform: scale(1.1);
}

/* CENTRALIZAR OS ITENS DOS MENUS */
.menu{
    text-align: center;
    margin: auto auto;
}

/* MODIFICAR OS NOMES DOS MENUS */
.nomemenu{
    /* border: 1px solid white; */
    font-size: 25px;
    font-weight: 400;
    color: #fff;   
    margin: 1em auto;
    transition: transform .3s;
}

.nomemenu:hover{
    transform: scale(1.1);
}


/* RESPONSIVIDADE */


@media screen and (max-width: 950px) {

    .menubox{
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        margin: auto 1em;
    } 

    #cabecalho{
        background-color: #3D150E;
        height: 90px;
        width: 100%;
    }
}