* {
    margin: 0; /* DEFINIR ESPAÇAMENTO ZERO PARA A PÁGINA TODA */
    padding: 0; /* DEFINIR PREENCHIMENTO ZERO PARA A PÁGINA TODA */
    box-sizing: border-box;   
    list-style: none; /* TIRAR ESTILO DA LISTA <ul> */
    text-decoration: none;
}

header{
    background-color: #3D150E;
    margin: auto;
    margin-top: 20px;
    max-width: 300px;
    border-radius: 50px;
}

body{
    background-color: #682B16;
}  

body *{
    font-family: "irish Grover", serif;
}

#nomedapagina{
    font-size: 25px;
    color: #fff;
    text-align: center;
}

#aviso{
    font-size: 36px;
    color: #fff;
    text-align: center;
}

main{
    margin-top: 100px;
}

#botaovoltar{
    color: #fff;
    font-size: large;

    position: absolute;
    right: 0;
    bottom: 0;

    margin: 1em;
}